@import url(app.css);

.doctors {
  margin-bottom: 5rem;
  
}
.container-doc{
  background: linear-gradient(to right, #6f87e6, #f2faff);
}

.doctors-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
  gap: 3rem;
  width: 100%;
}
